@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  width: 100%;
  position: relative;
}

html {
  scroll-behavior: smooth;
}

/* Hide scrollbars but keep scroll working */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.orb-container {
  width: 100%;
  height: 100%;
  position: absolute;
  inset: 0;
}

@keyframes wave {
  0% {
    transform: scale(0);
    opacity: 0.7;
  }

  100% {
    transform: scale(1);
    opacity: 0;
  }
}

.animate-wave {
  animation: wave 0.8s ease-out forwards;
}

/* Hide scrollbar */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

aside {
  will-change: transform;
}